@model ValidacoesMVC.Models.Usuario
@{
    ViewBag.Title = "Página Inicial";
}

<h2>Validação de Usuários</h2>
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Dados do Usuário</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.nome)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.nome)
                @Html.ValidationMessageFor(m => m.nome)
            </div>
            
    </fieldset>
    }
